@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("./lato/Lato-Regular.woff");
}
@font-face {
  font-family: "Lato-Light";
  font-display: swap;
  src: url("./lato/Lato-Light.woff");
}
@font-face {
  font-family: "Lato-Bold";
  font-display: swap;
  src: url("./lato/Lato-Bold.woff");
}
@font-face {
  font-family: "Lato-Black";
  font-display: swap;
  src: url("./lato/Lato-Black.woff");
}

@font-face {
  font-family: "Archivo";
  font-display: swap;
  src: url("./archivo/Archivo-Regular.ttf");
}

@font-face {
  font-family: "Archivo-Black";
  font-display: swap;
  src: url("./archivo/Archivo-Black.ttf");
}

@font-face {
  font-family: "Archivo-Light";
  font-display: swap;
  src: url("./archivo/Archivo-Light.ttf");
}

