@font-face {
    font-family: "Lato-Regular";
    src: url("./lato/Lato-Regular.woff");
  }
@font-face {
    font-family: "Lato-Bold";
    src: url("./lato/Lato-Bold.woff");
  }

  @font-face {
    font-family: "Futura";
    src: url("./futura/FuturaPT-ExtraBold.woff");
  }