@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("./lato/Lato-Regular.woff");
}
@font-face {
  font-family: "Lato-Light";
  font-display: swap;
  src: url("./lato/Lato-Light.woff");
}
