@font-face {
  font-family: "Lato-Regular";
  font-display: swap;
  src: url("./lato/Lato-Regular.woff");
}
@font-face {
  font-family: "Lato-Bold";
  font-display: swap;
  src: url("./lato/Lato-Bold.woff");
}

@font-face {
  font-family: "Futura";
  font-display: swap;
  src: url("./futura/FuturaPT-ExtraBold.woff");
}