.parent {
  position: relative;
  margin: 0 auto;
}

.container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  z-index: 1;
}

.inner {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  overflow: hidden;
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.button {
  position: absolute;
  top: 50%;
}

.next {
  right: 0;
  transform: translateY(-50%) translateX(50%);
}

.prev {
  left: 0;
  transform: translateY(-50%) translateX(-50%);
}
