:root {

  --marquee-width: 100vw;   
  --marquee-height: 10vh;  

   /* inputs from js */  
  --marquee-elements: 0;            /* set from JavaScript */
  --marquee-elements-displayed: 0;  /* set from JavaScript */

  /* calculated */
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements));
  --marquee-animation-duration: calc(var(--marquee-elements) * 1.8s);
  --translatex100: calc( -1 * var(--marquee-element-width) * var(--marquee-elements-displayed) )   
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #fff;
  color: #eee;
  overflow: hidden;
  position: relative;
}

.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 1rem;
  height: 100%;
  content: "";
  z-index: 999;
}

/* marquee left side */
.marquee:before {
  left: 0;
  background: linear-gradient(to right, rgb(236, 231, 231) 0%, transparent 100%);
}

/* marquee right side */
.marquee:after {
  right: 0;
  background: linear-gradient(to left, rgb(236,231,231) 0%, transparent 100%);
}

.marqueeContent {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marqueeContent:hover {
  animation-play-state: paused;
}

@keyframes scrolling {
  0%   { transform: translateX(20vw); }
  100% { transform: translateX(-113vw); }  /* var(--translatex100) ); } */  
  /*100% { transform: translateX(calc( -1 * var(--marquee-element-width) * var(--marquee-elements) )); }*/
}
.marqueeContent li {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 2vh 0 0 0;  
  flex-shrink: 0;
  width: auto;
  margin-right: 20px;
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); 
  white-space: nowrap;  
  z-index: 1;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 10vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; } 
}