.react-tel-input {
  margin: 5px 0;
}

.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 64px;
  margin-left: 0;
  background: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 5px;
  line-height: 25px;
  height: 40px;
  width: 100%;
  outline: none;
  opacity: 0.7;
}
.react-tel-input .form-control:focus {
  opacity: 1;
  border: 1px solid black;
}

.react-tel-input .form-control.invalid {
  opacity: 0.7;
  border: 1px solid #d79f9f;
  background-color: #faf0f0;
}
.react-tel-input .form-control.invalid:focus {
  opacity: 1;
  border: 1px solid #d79f9f;
  background-color: #faf0f0;
}
.react-tel-input .form-control.open {
  z-index: 2;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 1px 0px 1px 1px;
  background-color: #f5f5f5;
  /* border: 1px solid #CACACA; */
  border-right: 1px solid #cacaca;
  border-radius: 5px 0 0 5px;
  opacity: 1;
}
.react-tel-input .flag-dropdown.invalid:focus {
  border-left: 1px solid #d79f9f;
}

.react-tel-input .flag-dropdown:hover {
  cursor: pointer;
}

.react-tel-input .flag-dropdown:focus {
  cursor: pointer;
}

.react-tel-input .flag-dropdown.open {
  z-index: 2;
  background: #fff;
  border-radius: 3px 0 0 0;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background: #fff;
  border-radius: 3px 0 0 0;
}

.react-tel-input input[disabled] + .flag-dropdown:hover {
  cursor: default;
}
.react-tel-input input[disabled] + .flag-dropdown .selected-flag {
  background-color: transparent;
}

.react-tel-input .selected-flag {
  outline: none;
  position: relative;
  width: 50px;
  height: 100%;
  padding: 0 0 0 8px;
  border-radius: 3px 0 0 3px;
}

.react-tel-input .selected-flag:hover {
  background-color: #fff;
}

.react-tel-input .selected-flag:focus {
  background-color: #fff;
}

.react-tel-input .selected-flag .flag {
  position: absolute;
  top: 50%;
  margin-top: -12px;
}

.react-tel-input .selected-flag .arrow {
  position: relative;
  top: 50%;
  margin-top: -1px;
  left: 30px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}

.react-tel-input .selected-flag .arrow.up {
  border-top: none;
  border-bottom: 4px solid #555;
}

.react-tel-input .country-list {
  outline: none;
  border-radius: 3px;
  z-index: 1;
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 10px 0 10px -1px;
  padding: 0 5px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.35);
  background-color: white;
  width: auto;
  max-height: 224px;
  overflow-y: scroll;
  border-radius: 0 0 3px 3px;
}
@media (min-width: 768px) {
  .react-tel-input .country-list {
    width: 300px;
  }
}

.react-tel-input .country-list .flag {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 3px;
}

.react-tel-input .country-list .divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.react-tel-input .country-list .country {
  text-align: left;
  padding: 7px 9px 7px 44px;
  position: relative;
}

.react-tel-input .country-list .country .dial-code {
  color: #6b6b6b;
}
.react-tel-input .country-list .country:hover {
  background-color: #f1f1f1;
}
.react-tel-input .country-list .country .highlight {
  background-color: #f1f1f1;
}

.react-tel-input .country-list .country-name {
  margin-right: 6px;
}

.react-tel-input .country-list .search {
  top: 0;
  z-index: 2;
  display: flex;
  text-align: left;
  position: sticky;
  padding: 10px 6px;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0f0;
}

.react-tel-input .country-list .search-emoji {
  font-size: 15px;
}

.react-tel-input .country-list .search-box {
  border: 1px solid #cacaca;
  border-radius: 3px;
  font-size: 15px;
  line-height: 15px;
  margin-left: 6px;
  padding: 3px 8px 5px;
  outline: none;
}

.react-tel-input .country-list .no-entries-message {
  padding: 7px 10px 11px;
  opacity: 0.7;
}

.react-tel-input .special-label {
  display: none;
  position: absolute;
  z-index: 1;
  font-size: 13px;
  left: 46px;
  top: -8px;
  background: #fff;
  padding: 0 2px;
  white-space: nowrap;
}
