* :focus{
    outline:none!important;
}
html, body
{
    width: 100%!important;
    margin: 0px!important;
    padding: 0px!important;
    overflow-x: hidden!important; 
}
.pointer{cursor: pointer; }

@media (max-width: 768px) {
    .d-sm-none{
        display: none;
    }
}

/* adds three dots to text when reaches the end of line */
.no-wrap{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.img-border::before{
    border-radius: 1.25rem;
}
.b-corner-50, .b-corner-50::before, .b-corner-50::after{
    border-radius: 50%;
}
.img-header{
    opacity: 1 !important;
}
.img-thumbs::before{
    border-radius: .25rem;
}
.img-right::before{
    border-radius: 0 1.25rem 1.25rem 0;
}
.img-event::before, .img-event::after{
    border-radius: 1.25rem 1.25rem 0 0;
}

.img-event:hover{
    transform: scale(1.1);
}
.MuiStepButton-root {
    width: 100%;
    padding: 24px 17px!important;
    margin: -24px -14px!important;
    box-sizing: content-box;
}
.MuiStepper-root {
    display: flex;
}
.MuiPaper-root {
    background: transparent!important
}
.MuiToggleButtonGroup-groupedSizeLarge {
    padding: 0px 5px 0px 10px!important;
}
.MuiTypography-body2 {
    font-size: 0.5rem!important;
    font-family: "Lato", sans-serif!important;
    font-weight: 300!important;
    line-height: 1.43!important;
    letter-spacing: 0.01071em!important;
}
.MuiStepIcon-root.MuiStepIcon-active {
    color: #E6BA1F!important;
}
.MuiStepIcon-text {
    fill: #E6BA1F!important;
    font-size: 0.5rem!important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    margin-top: 8px!important;
    text-align: center;
    color: #ffffff!important;
}
.css-yk16xz-control {
    width: 130px!important;
}

.MuiToggleButton-root.Mui-selected {
    color:#ffffff!important;
    background-color: #E6BA1F!important;
    
}

.nav__item--active a.nav-item.nav-link.side {
    color: #E6BA1F;
}
.nav__item--active {
    border-left: 6px solid #E6BA1F;
    
}
a.nav-item.nav-link.side {
    height: 40px;
    color: #0097CE;
}
.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: transparent!important;
}
.carousel {
    position: relative;
    width: 100%;
    border-radius: 1.25rem;
    /* box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.carousel .control-dots .dot {
    -webkit-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
    box-shadow: none!important;
    opacity: .3;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #0097CE;
    width: 10px!important;
    height: 10px!important;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;
}
.carousel 
.control-next.control-arrow:before 
{
    border-left: 8px solid #0097CE!important;
}
.carousel 
.control-prev.control-arrow:before {
    border-right: 8px solid #0097CE!important;
}
.carousel 
.control-dots 
.dot.selected, 
.carousel 
.control-dots 
.dot:hover {
    opacity: 1;
    background: #0097CE;
}
.MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 0px!important;
}

.decorated{ text-decoration: underline; font-weight: 400; }
a:hover {text-decoration: none; }
  


.count-o {
    display: none!important;
}
a {
    color: black;
}
.react-player video, .react-player__preview{
    border-radius: 1.25rem!important;
}
/* .react-player{
    height: 100%!important;
} */
.react-player__preview{
    height: 100%!important;
} 
.split{
    font-size: 55px;
}
.scroll_li{
    margin: 5px 0;
}
.card-columns{
    display: inline-block;
    column-count: 4;
    column-gap: 1.25rem;
}
@media (max-width: 1200px) {
    .card-columns{
        column-count: 3;
    }
}
@media (max-width: 768px) {
    .card-columns{
        column-count: 2;
    }
}
@media (max-width: 576px) {
    .card-columns{
        column-count: 1;
    }
}

/* :-webkit-direct-focus {
    outline-color: none!important;
    outline-style: auto;
    outline-width: 3px;
    } */

.trend{
    position: absolute;
    top: 40px;
    right: 30px;
    /* @media (min-width: 768px) { ... }
    @media (min-width: 992px) { ... }
    @media (min-width: 1200px) { ... } */
}
@media (min-width: 576px) {
    .trend{
        right: -20px;
    }
}
@media (min-width: 992px) {
    .trend{
        right: -35px;
    }
}
@media (min-width: 1200px) {
    .trend{
        right: 20px;
    }
}