

.MuiStepButton-root {
    width: 100%;
    // margin: 0!important;
    padding: 24px 17px!important;
    box-sizing: content-box;
}
.MuiStepper-root {
    display: flex;
    // padding: 0!important;
}
.MuiPaper-root {
    background: transparent!important
}
.MuiTypography-body2 {
    font-size: 0.5rem!important;
    font-family: "Lato", sans-serif!important;
    font-weight: 300!important;
    line-height: 1.43!important;
    letter-spacing: 0.01071em!important;
}
.MuiStepIcon-root.MuiStepIcon-active {
    color: #E6BA1F!important;
}
.MuiStepIcon-text {
    fill: #E6BA1F!important;
    font-size: 0.5rem!important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    margin-top: 8px!important;
    text-align: center;
    color: #ffffff!important;
}
.css-yk16xz-control {
    width: 130px!important;
}

.MuiToggleButton-root.Mui-selected {
    color:#ffffff!important;
    background-color: #E6BA1F!important;
    
}

.nav__item--active {
    border-left: 6px solid #0097CE;
    color: #0097CE;
}
a.nav-item.nav-link.side {
    height: 40px;
}
.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: #fff!important;
}
.carousel {
    position: relative;
    width: 100%;
    border-radius: 1.25rem;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.react-tabs__tab-list {
    border-bottom: none!important;
    // height: 100%!important;
    // margin: 0 0 10px;
    // padding: 0;
    display: flex!important;
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
    padding-left: 0!important;
    margin-bottom: 0!important;
    list-style: none!important;
    height: 100%!important;
}
.react-tabs__tab {
    display: inline-block;
    border: none!important;
    border-bottom: none;
    bottom: -1px;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    flex: 1 1 auto!important;
    text-align: center!important;
}
.react-tabs__tab--selected {
    background: black!important;
    // border-color: #aaa;
    color: #E6BA1F!important;
    border-radius: 1.25rem 1.25rem 0 0!important;
}