@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import '_colors';
@import '_fonts.scss';
@import '_icons.scss';


//Desktop
@media only screen and (min-width: 992px){
  @import "./responsive/desktop.scss";
}

//Tablets
@media only screen and (min-width: 768px) and (max-width: 992px){
@import "./responsive/tablet.scss";
}

//Mobile
@media only screen and (max-width: 576px){
@import "./responsive/mobile.scss";
}

.credentials-transform{
  transform:translateY(50px);
}

.MuiStepIcon-text {
    display: none;
}
.col-img{
    height: 190px;
}
.makeStyles-root-323 {
    width: 100%;
}
div h5{
    margin-bottom: 0px;
}
.img-top img{
  border-radius: 0px 0px  0px 1.25rem;
}
.credentials{
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:2%
}
.icons{
    color: #0097CE
}
.cred-row{
    height: 33%;
}
.script-bf-box {
    width: 100px;
    height: 300px;
    background: black;
    margin: 5px;
    will-change: transform;
  }
  
  .script-bf-box:hover {
    background: hotpink;
  }
  .cred-container{
    background: #f9f9f9;
    border-radius: 1.25rem 0px 0px 0px;
    height: 600px;
  }
  .card-credential{
      width: 160px;
      height: 200px;
      box-shadow: 5px 5px 15px #dedede;
      border-radius: 1.25rem;
      background: white;
  }
  .cred-title{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 22px;
  }
  .card-why4 img{
    border-radius: 1.25rem;
}
  .prova .test:nth-child(odd){
  transform:translateY(50px);
}
  .test:hover{
      transform:translateY(-20px);
  }
  .text-why{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    line-height: 22px;;
  }
  .text-why-p{
      color: #bebebe;
      font-weight: light;
      font-size: 16px;
  }
  .why-title, 
  .program-title, 
  .who-title{
    font-weight: 800;
    font-size: 2rem;
    color: black;
  }
  .jobs-left, 
  .jumbo-paragraph, 
  .jumbo-lead, .who-lead, 
  .alumni-left-lead, 
  .location-left-lead{
      font-size: 12px;
      color: #bebebe;
      font-weight: 500;
  }
  .jobs-value{
      font-size: 36px;
      font-weight: bold;  
  }
  .job-container{
    box-shadow: 10px 10px 30px #dedede;
    border-radius: 1.25rem;
  }
  .jumbo-slogan{
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
  }
  .jumbo-divider {
    height: 1rem;
    border-bottom: 2px solid #0097CE;
  }
  .program-divider{
    height: 1rem;
    border-bottom: 2px solid #baeafc;
    width: 2.5rem 
  }
  .program-lead{
    font-size: 12px;
      color: #baeafc;
  }
  .program-stand{
    height: 500px;
    background: white;
    border-radius: 1.25rem;
  }
  .program-stand-row-header{
    height: 15%;
  }
  .program-stand-row-body{
    height: 85%;
  }
  .program-stand-features-header{
    background: black;
    border-bottom: 1px solid #5d6163;
    font-size: 12px;
    color: #5d6163;
    border-radius: 1.25rem 0 0 0;
  }
  .program-stand-features-header-right{
    font-size: 12px;
    color: #5d6163;
    border-bottom: 1px solid #5d6163;
  }
  .program-stand-features-body{
    background: black;
    border-radius: 0 0 0 1.25rem;
  }
  .program-stand-features-body-right{
  font-weight: 800;
  font-size: 20px;
  color:#5d6163;
  }
  .program-stand-features-body .row, 
  .program-stand-features-body-right .row{
    height: 20%;
    border-bottom: 1px solid #5d6163;
  }
  .program-icon{
    color: #e5ba1d;
  }
  .program-body-title, 
  .alumni-left-title, 
  .location-left-title{
    font-size: 22px;
      font-weight: 900;
      line-height: 26px;
      text-transform: uppercase;
  }
  .jumbo-button{
    background-color: #0097CE;;
    transform: translateY(25px);
  }
  .jumbo-video{
    border-bottom-left-radius: 20px;
  }
  .jumbo-container{
    height:400px;
    margin-left: 100px;
    
  }
  .program-container{
    height: 1225px;
    background: #0097CE;
    border-radius: 1.25rem 0px 0px 0px;
  }
  .button-program {
    font-size: 12px;
  }
  .program-box{
    border-radius: 1.25rem;
    box-shadow: 10px 10px 30px #dedede;
    height: 200px;
  }
  .program-box .row span{
    color: #0097CE;
  }
  .box-title{
    font-weight: 800;
    font-size:28px;
    height: 30%;
  }
  .box-lead{
    font-size: 14px;
    color:#5d6163;
    font-weight: bold;
    height: 20%;
  }
  .box-content{
    color:#5d6163;
    font-size: 12px;
    height: 50%;
  }
  .custom-icon{
    font-size: 30px;
    color: #0097CE;
  }
  .who-one{
    height: 400px;
    background: white;
  }
  .who-two{
    height: 500px;
    background: #f5f8fb;
    border-radius: 1.25rem 0px 0px 0px;
  }
  
  .who-boxes .col-md-2{
    background: white;
    width: 250px;
    height: 100px;
    transform:translateY(-80px);
  }
  .who-title-small{
    font-size: 24px;
    color: black;
  }
  .who-lead-small{
    font-size: 12px;
    color: #0097CE;
  }
  .alumni-container{
    background:#f5f8fb ;
    height: 500px;
  }
  .alumni-left, .alumni-right{
    height: 400px;
    background: white;
  }
  .alumni-left, 
  .location-left, 
  .location-left img{
    border-radius: 1.25rem 0px  0px 1.25rem;
    box-shadow: 10px 10px 30px #dedede;
  }
  .alumni-right, 
  .alumni-right img, 
  .location-right{
    border-radius: 0px 1.25rem 1.25rem  0px;
    box-shadow: 10px 10px 30px #dedede;
  }
  .section-divider{
    height: 200px;
  }
  .footer{
    background: black;
    height: 400px;
  }
  .footer-title{
    font-weight: bold;
    font-size: 16px;
  }
  .location-container{
    background-image: url('../images/map.jpg')
    // background: black;
  }
  .location-right{
    background: white;
  }
  .partner-card {
    text-align: center;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);
    padding: 20px;
    height: 130px;
    margin-bottom: 20px;
}
.partner-card img {
  margin: auto;
  width: inherit;
  max-height: 100%;
  max-width: 100%;
}

.tt{
  height: 300px;
  margin-left: 100px;
}