.MuiStepIcon-text {
    
    display: none;
}
.col-img{
    height: 190px;
}
.makeStyles-root-323 {
    width: 100%;
}
div h5{
    margin-bottom: 0px;
}
.credentials{
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:2%
}
.icons{
    color: #0097CE
}
.cred-row{
    height: 33%;
}