.pointer {
  cursor: pointer;
}

.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
@media (max-width: 576px) {
  .d-xs-none {
    display: none !important;
  }
  .d-xs-block {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-block {
    display: block !important;
  }
}
.w-100 {
  width: 100%;
}
.m-0 {
  margin: 0;
}

.no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.capitalize {
  text-transform: capitalize;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dotss {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dotss li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 3px;
  padding: 0;

  cursor: pointer;
}
.slick-dotss li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dotss li button:hover,
.slick-dotss li button:focus {
  outline: none;
}
.slick-dotss li button:hover:before,
.slick-dotss li button:focus:before {
  opacity: 1;
}
.slick-dotss li button:before {
  font-family: "slick";
  font-size: 11px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dotss li.slick-active button:before {
  opacity: 0.75;
  color: #0097cd;
}
