name: Cypress Test
on:
  push:
    branches:
      - development
      - master
  pull_request:
    branches: 
      - development
      - master
jobs:
  cypress-test:
    name: Test with Server
    runs-on: ubuntu-latest
    env: # environment variable
      GATSBY_BREATHECODE_HOST: https://breathecode-test.herokuapp.com/v1
    strategy:
      matrix:
        node: [14.x]
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Node dependencies
        run: npm install
      - name: Running Tests
        # Install NPM dependencies, cache them correctly
        uses: cypress-io/github-action@v4
        with:
          build: npm run build
          start: npm run serve
          browser: chrome
          wait-on: 'http://localhost:8080'
          config: pageLoadTimeout=100000,baseUrl=http://localhost:8080
